<section class="py-6">
  <div class="container">
    <div class="py-5 px-6 bg-primary rounded-3">
      <div class="pb-5 mb-5 border-bottom-dashed">
        <!-- logo -->
        <img src="/assets/images/logo-icon-w.svg" alt="logo-w" class="mb-5" />
        <!-- content -->
        <h2 class="text-white mb-3">邁向你真正想過的生活，從這裡開始</h2>
        <p class="text-white">
          第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式
        </p>
      </div>
      <div
        class="d-flex flex-column flex-md-row align-items-start align-items-md-center"
      >
        <!-- tel -->
        <div class="d-flex text-white me-md-5 mb-4 mb-md-0">
          <span class="material-symbols-outlined me-2">call</span>
          <a href="tel:0800123123" class="text-white">0800-123-123</a>
        </div>
        <!-- mail -->
        <div class="d-flex text-white me-md-auto mb-5 mb-md-0">
          <span class="material-symbols-outlined me-2">mail</span>
          <a href="mailto:Sample@mail.com" class="text-white"
            >Sample@mail.com</a
          >
        </div>
        <!-- btn -->
        <button type="button" class="btn btn-dark pe-3">
          預約免費職涯探索<span
            class="material-icons-outlined ms-1 align-bottom"
          >
            keyboard_arrow_right
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
