<footer class="footer bg-natural-95 border-top">
  <div class="container">
    <div class="d-flex py-6 justify-content-between align-items-center">
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a href="#" class="nav-link py-2 px-5">服務方案</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link py-2 px-5">關於職旅</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link py-2 px-5">聯絡我們</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link py-2 px-5">隱私權政策</a>
          </li>
        </ul>
      </nav>
      <small class="text-natural-50">
        Copyright © 2025 職旅 workway. All rights reserved.
      </small>
    </div>
  </div>
</footer>
