.user-image {
  width: 44px;
  height: 44px;
}

.btn-auth {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  width: 24px;
  height: 24px;
}
