.gradient-ball {
  position: absolute;
  top: 40px;
  z-index: -1;
}

.index-logo {
  width: 48px;
  height: auto;

  @include media-breakpoint-up(md) {
    width: 96px;
    height: auto;
  }
}

.carousel-breakout {
  width: 100vw;
  margin-right: calc(-100vw + 100%);
}

// .swiper {
//   height: auto;
// }

// .swiper-wrapper {
//   align-items: stretch !important; // 強制讓所有 slide 等高
// }

.swiper-slide {
  width: 320px;
  overflow: hidden;

  img {
    width: 100%;
    height: 400px;
  }

  @include media-breakpoint-up(md) {
    width: 400px;

    img {
      width: 100%;
      height: 500px;
    }
  }
}

.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%; // 關鍵：讓卡片撐滿容器高度
}

.card-body-stretch {
  flex: 1; // 讓內容區域撐滿剩餘空間
  display: flex;
  flex-direction: column;
}

.card-footer-sticky {
  margin-top: auto; // 讓底部內容置底
}
