// hero 區塊
.gradient-ball {
  background: url(/assets/images/index/gradient-ball.png) no-repeat center 40px /
    800px;
}

// 手機版輪播
.mobile-carousel .hero-swiper {
  width: 100%;
  height: 200px;
}

.mobile-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

// story 區塊
.index-logo {
  width: 48px;
  height: auto;

  @include media-breakpoint-up(md) {
    width: 96px;
    height: auto;
  }
}

// story-bg
.story-section {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: $natural-95;
  }
}

.story-swiper {
  height: 100%;
  overflow: hidden;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    width: 344px;
    height: auto;

    .badge {
      position: absolute;
      top: 24px;
      left: 24px;
      font-size: 16px;
      padding: 8px 16px;
      border-radius: 12px;
    }

    img {
      width: 100%;
      height: 400px;
    }

    @include media-breakpoint-up(md) {
      width: 424px;

      img {
        width: 100%;
        height: 500px;
      }
    }
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// 滿版突破容器
.carousel-breakout {
  width: 100vw;
  margin-right: calc(-100vw + 100%);
}

// 為什麼選擇職旅
.speech-bubble {
  position: relative;
  display: inline-block;
  margin-bottom: 14px;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -16px;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 16px 16px 0 16px;
    border-color: var(--bs-primary) transparent transparent transparent;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -13px;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 14px 14px 0 14px;
    border-color: var(--bs-white) transparent transparent transparent;
  }
}

.advantages {
  &__container {
    position: relative;
  }

  &__header-icon {
    position: absolute;
    top: 0;
    right: 12px;
  }
}

.advantage-card {
  position: relative;

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba($black, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
  }

  &:hover &__overlay {
    opacity: 1;
  }

  &__badge {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 12px 0 0;
    padding: 12px;
    padding-right: 24px;
    z-index: 1;
  }
}

// 服務流程
@media (min-width: 992px) {
  .service-swiper {
    overflow: visible;

    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
    }

    .services__slide {
      max-width: 306px;
    }
  }
}

.service-card {
  position: relative;

  &__badge {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

// FAQ
.faq-bg {
  background: url(/assets/images/index/bg-grid.png) repeat top;
}

.accordion.faq .accordion-item + .accordion-item {
  margin-top: 1rem;

  @include media-breakpoint-up(lg) {
    margin-top: 1.5rem;
  }
}

.accordion.faq .accordion-item {
  --bs-accordion-active-bg: $white;
  border: 1px solid $natural-85;
  border-radius: 12px;
  overflow: hidden;
}

/* 收合狀態 */
.faq-btn[aria-expanded="false"] {
  padding: 24px;
  transition: padding 300ms ease;
}

/* 展開狀態 */
.faq-btn[aria-expanded="true"] {
  padding: 24px 24px 16px;
}

.faq-body {
  padding: 16px 24px 24px;
  position: relative;
}

.faq-body::before {
  content: "";
  position: absolute;
  left: 24px;
  right: 24px;
  top: 0;
  border-top: 1px dashed #e2e8f0;
  opacity: 0;
  transition: opacity 200ms ease;
}

.accordion-item:has(.faq-btn[aria-expanded="true"]) .faq-body::before {
  opacity: 1;
}
