// 職涯轉型全程計畫
.card-badge {
  position: relative;
  overflow: hidden;

  .badge {
    font-size: 14px;
    line-height: 1.2;
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 0 0 12px 0;
  }
}

// 持續支持方案
.support-section {
  position: relative;

  // bg
  &::before {
    content: "";
    position: absolute;
    inset: 0 0 auto 0;
    height: 300px;
    background-color: $natural-95;
    z-index: 0;
  }

  &__title {
    position: relative;
    z-index: 2;
  }

  &__content {
    position: relative;
    z-index: 2;
  }
}

.support-card {
  position: relative;
  max-width: 856px;
  overflow: hidden;
  z-index: 1;

  &__art {
    position: absolute;

    &--left {
      left: 24px;
      bottom: -2px;
      z-index: 1;
    }

    &--right {
      right: 24px;
      bottom: -2px;
      z-index: 1;
    }

    &--top {
      top: 0;
      right: 0;
      z-index: 0;
    }

    @include media-breakpoint-down(md) {
      &--top {
        height: 160px;
        max-width: none;
      }
    }
  }
}
