// 服務方案
.service-banner {
  background: url(/assets/images/service/banner-bg-pc.png) no-repeat center
    center;
  background-size: cover;
  overflow: hidden;

  &__content {
    max-width: 800px;
    margin: 0 auto;
  }

  .banner-person {
    position: absolute;
    right: calc(50% - 520px);
    bottom: -8px;
  }
}

@include media-breakpoint-down(lg) {
  .service-banner {
    img {
      display: none;
    }

    background: url(/assets/images/service/banner-bg.png) repeat 0 0 / 50%;
  }
}

.card-badge {
  position: relative;
  overflow: hidden;

  .badge {
    font-size: 14px;
    line-height: 1.2;
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 0 0 12px 0;
  }
}

.support-section {
  position: relative;

  .support-section-bg {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    z-index: -1;
  }

  .surport-content {
    position: relative;
    z-index: 10;
  }
}

.support-border {
  position: relative;
  overflow: hidden;

  .subscribe-1 {
    position: absolute;
    left: 50%;
    transform: translate(-327px);
    bottom: -2px;
    z-index: 1;
  }
  .subscribe-2 {
    position: absolute;
    right: 50%;
    transform: translate(327px);
    bottom: -2px;
    z-index: 1;
  }
  .subscribe-3 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;

    @include media-breakpoint-down(md) {
      object-position: right top;
      width: auto;
      height: 160px;
      object-fit: none;
    }
  }
}
