<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container-fluid">
      <div class="row justify-content-center py-7 position-relative">
        <img
          src="/assets/images/index/gradient-ball.png"
          alt="gradient-ball"
          class="gradient-ball"
        />
        <div class="col-8 mb-6">
          <h1 class="text-center mb-5">
            一起陪伴、探索<br />還有你那些未完成的夢
          </h1>
          <div class="d-flex flex-column flex-lg-row justify-content-between">
            <p class="text-natural-50 mb-4 mb-lg-0">
              自由工作很美，也很難。<br />我們用 1 對 1
              陪伴，陪你從第一步開始，直到夢想變成日常
            </p>
            <button type="button" class="btn btn-secondary pe-3">
              預約免費職涯探索<span
                class="material-icons-outlined ms-1 align-bottom"
              >
                keyboard_arrow_right
              </span>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <img src="/assets/images/index/hero-1.png" alt="hero-1" />
          </div>
          <div class="col-4">
            <div class="row g-3">
              <div class="col-12">
                <img
                  src="/assets/images/index/hero-2.png"
                  alt="hero-2"
                  class="img-fluid"
                />
              </div>
              <div class="col-12">
                <img
                  src="/assets/images/index/hero-3.png"
                  alt="hero-3"
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="col-4">
            <img src="/assets/images/index/hero-4.png" alt="hero-4" />
          </div>
        </div>
      </div>
      <div class="text-center"></div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
